/*
 * Buttons
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

.button, .btn, input.submit {
  display: inline-block;
  text-transform: uppercase;
  padding: .375em 1em;
  border: 1px solid $grayDark;
  border-radius: 3px;
  color: $grayDark;
  // background-color: $orange;
  font-family: $sansFontFamily;
  font-weight: bold;
  font-size: 14px;
  font-size: .875rem;
  text-align: center;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $grayDark;
    color: $white;

  }

}

