/*
 * Buttons
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

/* Base btn */
 @mixin btn($primaryColor, $secondaryColor) {
  font-weight: $boldFontWeight;
  display: inline-block;
  text-transform: uppercase;
  padding: .5em .875em;
  border: 1px solid $primaryColor;
  border-radius: 3px;
  color: $primaryColor;
  @include transition(all .2s ease-in-out);

  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
    text-decoration: none;
  }


}

.btn, .button {
  @include btn($grayDark, $white);
}

input#submit {
  border: 1px solid #ccc;
}

.btn.white, .button.white {
  @include btn($white, $grayDark);
}

// Comment Form Submit

input#submit, .gform_button {
  @extend .btn;
  background-color: transparent;
  padding: .5em 1em;
  margin: 1em 0;
  cursor: pointer;
}

.orange-btn {
  background-color: $orange;
  border: 1px solid $orange;
  color: $white;

    &:hover {
      border-color: darken($orange, 10%);
      background-color: lighten($orange, 5%);
      box-shadow: 0 0 5px 0 rgba($orange,.95);
      text-decoration: none;
    }
}