/*
 * Figures & Captions
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

.wp-caption { position: relative; }

.wp-caption-text {
	position:   absolute;
	bottom:     1.5rem;
	padding:    0.75rem;
	font-size:  0.9375rem;
}
