-/*
 * Header
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

// Header
.site-header {
    background: rgba(black, .6);
    position: fixed;
    width: 100%;
    padding: 1.25em 1em;
    @include transition(all 0.2s ease-in-out);
    min-height: 90px;
    z-index: 1000;

    .admin-bar & {
        top: 32px;

        @include mq(bar1) {
            top: 46px;
            
        }

        @include mq(bar2) {
            // position: relative;
            // top: 0;
            top: 46px;
        }
    }

    .scroll & {
        padding: .25em 1em;
        min-height: 70px;
    }

    @include mq($mobileNavWidth) {
        min-height: 100px;
    }
}

// Branding 

.branding {
    position: absolute;
    // width: 100%;
}

.site-title {
    padding: .5em;
    margin-top: .25em;
    @include transition(all 0.2s ease-in-out);
    @include hide-text;
    display: block;
    background: url(img/build/ben-pieper.svg) center center no-repeat;
    background-size: 280px 38px;
    width: 280px;
    height: 38px;
    position: relative;
    margin: 0;
    z-index: 1000;

    .scroll & {
        background-size: 300px 41px;

        width: 300px;
        height: 41px;
        top: 7px;

    }
    @include mq(1040) {
        width: 381px;
        height: 52px;
        background-size: 381px 52px;
      
        
    }

    
}

