/*
 * Mixins
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */


// Media Queries

@mixin mq($mq) {
  @if $mq == 320    { @media (min-width: 20em)  { @content; } }
  @if $mq == 480    { @media (min-width: 30em)  { @content; } } 
  @if $mq == 640    { @media (min-width: 40em)  { @content; } }
  @if $mq == 800    { @media (min-width: 50em)  { @content; } }
  @if $mq == 960    { @media (min-width: 60em)  { @content; } }
  @if $mq == 1040   { @media (min-width: 65em)  { @content; } }
  @if $mq == 1120   { @media (min-width: 70em)  { @content; } }
  @if $mq == 1280   { @media (min-width: 80em)  { @content; } }
  @if $mq == 1440   { @media (min-width: 90em)  { @content; } }
  @if $mq == 1600   { @media (min-width: 100em) { @content; } }
  @if $mq == 1760   { @media (min-width: 110em) { @content; } }
  @if $mq == 1920   { @media (min-width: 120em) { @content; } }
  @if $mq == 2080   { @media (min-width: 130em) { @content; } }

  @if $mq == bar1    { @media (max-width: 783px) { @content; } }
  @if $mq == bar2    { @media (max-width: 600px) { @content; } }

  @if $mq == lsp { @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)  { @content; } } // Landscape Phone

  @if $mq == retina {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        @content;
    }
  }
}

// Clearfix

@mixin group {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Placeholder 
@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content}; 
}

// Font sizing mixin
// @link https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss [props]
// @include font_size(10px);

@mixin font_size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $baseFontSize) * 1rem;
}

 // Layout and Structure

 // Centered container element
@mixin containerFixed {
  margin-right: auto;
  margin-left: auto;
  
}
// Image Replace
@mixin hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Sizing shortcuts

@mixin size($height, $width) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}