//
/* Pagination */
// 
// @package   Infusion-child
// @subpackage  Sass stylesheet
//
// @version 1.2.2



.pagination {
  margin: 80px 0;
  text-align: center;
  
  ul {
    display: inline-block;
    @include ie7-inline-block();
    background: $white;
    text-align: center;
    @include box-shadow(0 0 1px rgba(0,0,0,.15));
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
  }
  
  a, span {
    float: left;
    padding: 0 14px;
    line-height: 2;
    text-decoration: none;
    border: 1px solid $borderColor;;
    border-left-width: 0;
  }
  
  a:hover {
    background-color: $black;
    color: $white;
  }
  
  span.current {
    background-color: $black;
    color: $white;
  }

  .prev {
    border-left: 1px solid $borderColor;
  }
  
  i {
    line-height: 1;
    font-size: $baseFontSize - 2;
  }
  
   li:first-child a {
    border-left-width: 1px;
  }
  
 }