//
 /* Scaffolding  */
 // 
// @package       Infusion
// @subpackage    Sass Stylesheet
// @version       1.0

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  -webkit-font-smoothing: antialiased;
    
  }

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-style: $baseFontStyle;
  color: $textColor;
  background-color: $bodyBackground;
}

// Site Structure

.container {

}

.main-container {
  
}

.content {
  
}