//
/* Tables */
// 
// @package 	Infusion-child
// @subpackage 	Sass stylesheet
//
// @version 1.0


// BASE TABLES
// -----------------

table {
  max-width: 100%;
  background-color: $white;
  border-collapse: collapse;
  border-spacing: 0;
}
