/*
 * Typography
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

p {
  line-height: 1.6875;
  margin-bottom: 24px;
  margin-top: 0;
}

// Headings

h1, h2, h3, h4, h5, h6 {
  font-family:      $headingsFontFamily;
  font-weight:      $headingsFontWeight;
  color:            $headingsColor;
  text-rendering:   optimizelegibility; // Fix the character spacing for headings
  margin-bottom:    24px;

}

h1, .h1 {
  font-size: 40px;
  line-height: 1.2;


}

h2, .h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 30px;
  line-height: 1.6;

}

h4, .h4 {
  font-size: 24px;
  line-height: 1.5;

}

h5, .h5 {
  font-size: 20px;
  

}

h6, .h6 {
  font-size: 18px;

}


// Inline code
code {
  padding: 3px 5px;
  color: $black;
  font-weight: bold;
  display: inline;


}

// Blocks of code
pre {
  overflow: auto;
  display: block;
  padding: 0 1.5em 1.5em;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: $grayDark;
  font-family: $monoFontFamily;
  color: $white;
  font-weight: normal;
  margin-bottom: 2em;


  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: $white;

    font-weight: normal;
  }
}

// Lists
ul, ol {
  margin-bottom: 24px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.6875;
}

.entry-content {
  ul, ol {
    padding: 0 0 0 1.6875em;
  }
}

// Emphasis
strong {
    // font-family: $boldFontFamily;
    font-weight: $boldFontWeight;
}
em {
  font-style: italic;
  // font-family: $italicFontFamily;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $black;
}

// Blockquotes
.entry blockquote {
    padding: 0 2em;
    margin: 2em;
    border-left: 3px solid $borderColor;

    p { 
      font-size: 130%;
      font-style: italic;
    }
}

// Sub/Superscripts

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
   font-size: 60%;
   padding: 0 .125em;
}
sub { top: 0.4em; }
