/*
 * Variables
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */



// Grays
$black:                 black;
$grayDarker:            #4e5055;
$grayDark:              #333333;
$gray:                  #a7a9ac;
$grayLight:             #dfdfdf;
$grayLighter:           #f3f3f3;
$white:                 white;


// Accent colors
$blue:                  #049cdb;
$orange:				#f39c12;
$red:					#c0392b;



// Scaffolding
$bodyBackground:        $white;
$textColor:             $black;


// Links
$linkColor:             $blue;
$linkColorHover:        darken($linkColor, 15%);

// Borders
$borderColor:			$grayLight;

// Tooltips
$toolTipColor:			$grayDarker;
$toolTipTextColor:		$white;


// Typography

$baseFontFamily:		'Proxima Nova Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$thinFontFamily:        'Proxima Nova Thin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$midFontFamily:			'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
$boldFontFamily:		'Proxima Nova Semibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$italicFontFamily:		'Proxima Nova Light Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;
$iconFontFamily:        "icomoon";

$baseFontSize:			100%;
$baseFontStyle:			normal;

// Headings
$headingsFontFamily:    $thinFontFamily;
$headingsFontWeight:    normal;
$headingsColor:         $black;

// Navigation
$primaryNavFontFamily:  $baseFontFamily;
$primaryNavFontWeight:  300;
$primaryNavFontStyle:   normal;



// Forms
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;


// CONTAINER
$containerWidth:          940px;


// Alignment

$floatMarginLeft:         20px;
$floatMarginRight:        20px;
$floatMarginBottom:       24px;




