/*
 * Variables
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */



// Grays
$black:                 #292929;
$white:                 #fafafa;

// Unused
$grayDarker:            #292929;
$grayDark:              #333333;
$gray:                  #a7a9ac;
$grayLight:             #dfdfdf;
$grayLighter:           #f3f3f3;



// Accent colors
$blue:                  #049cdb;
$orange:				#f39c12;
$red:					#c0392b;



// Scaffolding
$bodyBackground:        white;
$textColor:             $black;


// Links
$linkColor:             $blue;
$linkColorHover:        darken($linkColor, 15%);

// Borders
$borderColor:			$grayLight;

// Tooltips
$toolTipColor:			$grayDarker;
$toolTipTextColor:		$white;


// Typography

$sansFontFamily:		'Source Sans Pro', sans-serif;
$serifFontFamily:		'Bitter', serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;
$iconFontFamily:        "icomoon";

$baseFontFamily:		$sansFontFamily;
$baseFontSize:			100%;
$baseFontStyle:			normal;

$boldFontWeight:		700;
$midFontWeight:			600;
$regFontWeight:			400;
$lightFontWeight:		300;

// Headings
$headingsFontFamily:    $serifFontFamily;
$headingsFontWeight:    normal;
$headingsColor:         $black;

// Navigation
$primaryNavFontFamily:  $serifFontFamily;
$primaryNavFontWeight:  300;
$primaryNavFontStyle:   normal;



// Forms
$inputBackground:        $white;
$inputBorder:            #ccc;
$inputBorderRadius:      3px;


// CONTAINER
$containerWidth:          1440px;


// Alignment

$floatMarginLeft:         20px;
$floatMarginRight:        20px;
$floatMarginBottom:       24px;




