/*
 * Colors
 *
 *
 */

// Used
$black:					black; // set
$white:					white; // set

$gray-darkest:			#2e2e2e;
$gray:					#e9e9e9; // set
$gray-lighter:			#f0f0f0;  
$gray-lightest:			#f7f7f7; 
$white:					white;

$blue:					#5fbecf;
$blue-dark:				#384144;

// Logo
$logo-blue-1:			#7CCED1; 
$logo-blue-2:			#1B9ACC;


// Page
$body-background:        $gray-lighter;

// Text
$text-color:             $blue-dark;

// Links 
$link-color:             $blue;
$link-color-hover:        darken($link-color, 15%);

// Borders
$border-color:			$gray-lighter;

// Tooltips
$tooltip-color:			$blue-dark;
$tooltip-text-color:	$white;