/*
 * Typography
 *
 *
 */



$sans-font-family:		'Proxima Nova', Helvetica, sans-serif;
$light-font-family:		'Proxima Nova Light', sans-serif;
$italic-font-family:	'Proxima Nova Italic', sans-serif;
$mono-font-family:      Menlo, Monaco, Consolas, "Courier New", monospace;


$base-font-family:		$sans-font-family;
$base-font-size:		16px;
$base-font-style:		normal;
$base-font-weight:		400;
$base-line-height:		1.5;


// Font Weights
$bold-weight:			700;
$mid-weight:			600;
$normal-weight:			400;
$lightFontWeight:		300;

// Headings
$headingsFontFamily:    $light-font-family;
$headingsFontWeight:    200;
$headingsColor:         $blue-dark;

// Navigation
$primaryNavFontFamily:  $sans-font-family;
$primaryNavFontWeight:  300;
$primaryNavFontStyle:   normal;