//
// Variables
//



// Mobile Nav
$mobileNavWidth:        960;
$desktop:				960;


// Forms
$inputBackground:        $white;
$inputBorder:            #ccc;
$inputBorderRadius:      3px;


// CONTAINER
$site-width:	          1440px;


// Alignment

$floatMarginLeft:         20px;
$floatMarginRight:        20px;
$floatMarginBottom:       24px;
