/*
 * Site Nav
 *
 *
 */

.site-nav {
  height: 50px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  //align-items: center;
  box-shadow: 0px 0px 3px rgba($black, 0.15);

  @include mq($desktop) {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    box-shadow: none;
  }


  .admin-bar & {
    @include mq($desktop) {
      top: 32px;
      min-height: calc(100vh - 32px);
    }
  }

  &__list {
    list-style: none;

    &--social {
      //position: absolute;
      bottom: 0;
      //animation-delay: 3s;
      //animation: fadein 1s;

      @include mq($desktop) {
        position: absolute;
      }
    }

    &--center {
      display: none;
      position: absolute;
      top: 300px;
      animation: fadein 1.5s;
      //animation-delay: 5s;

      

      @include mq($desktop) {
        display: block;
      }
    }
  }

  &__item {
    @include transition--normal;

    //align-items: center;
    display: inline-block;
    height: 50px;
    width: 50px;

    //justify-content: center;
    margin-bottom: 1px;
    padding: 0;
    position: relative;
    user-select: none;

    @include mq($desktop) {
      height: 70px;
      width: 70px;
    }


    a, button {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: darken($blue-dark, 2%);
      border: none;

      @include mq($desktop) {
        background-color: $gray;

        svg {
          fill: $blue-dark;
        }
      }


      &:hover {
        background-color: $blue-dark;

        .screen-reader {
          opacity: 1;
        }
      }

      .open & {
        background-color: darken($blue-dark, 2%);

        svg {
          fill: $white;
        }
      }
    }

    svg {
      width: 24px;
      height: 24px;
      fill: darken($white, 30%);
    }
  }
}

.screen-reader {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row nowrap;
  text-align: center;
  top: 0;
  left: 0;
  background-color: darken($blue-dark, 2%);
  color: $white;
  text-transform: uppercase;

  @include font-size(11px);

  @include transition--normal;

  opacity: 0;

  @include mq($desktop) {
    width: 70px;
    height: 70px;

    @include font-size(13px);
  }
}

.screen-reader__open {
  display: block;
  align-self: center;
}

.screen-reader__close {
  display: none;
  align-self: center;
}

// Special nav items

.site-nav__item {
  &--twitter {
    display: none;

    @include mq($desktop) {
      display: inherit;
    }
  }

  &--phone {
    @include mq($desktop) {
      display: none;
    }
  }
}