//
// Shame file
//


.ripple {
  width: 18px;
  height: 18px;
  border: 1px solid $blue;
  border-radius: 20px;
  position: absolute;

  //margin-bottom: 32px;

  &__left {
    margin-left: -13px;
  }

  &__right {
    margin-left: -4px;
  }

  &__container {
  	margin-bottom: 24px;
  }
}


.section-head {
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0 24px 0;
  //border-top: 1px solid $gray-lighter;
  //background-color: $white;

  &__title {
    text-transform: uppercase;

    @include font-size(14px);

    //margin-top: 24px;
  }
}