//
// Site
//

 html {
  font-size: 1em;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
  
}

body {
  font-family:      $base-font-family;
  color:            $text-color;
  line-height:      $base-line-height;
  font-style:       normal;
  background-color: $body-background;
  transition: all .3s ease;

}

